<html>

<head>

</head>
<body>
  <!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #007a50;color: white;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <img src="assets/images/gd.png" width="300" height="90" alt="">

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-lowercase">help</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Size Guide</a>
            </li>
            <li>
              <a href="#!">Buying Guide</a>
            </li>
            <li>
              <a href="#!">Return Policy</a>
            </li>
            <li>
              <a href="#!">Delivery</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-lowercase">about us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">GreatOutdoors</a>
            </li>
            <li>
              <a href="#!">Our Staffs</a>
            </li>
            <li>
              <a href="#!">Work for us</a>
            </li>
            <li>
              <a href="#!">Corporate</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div style="background-color:#076645" class="footer-copyright text-left py-3">
    <div class="row">
        <div class="col-md-1"></div>
      <div class="col-md-4">
       © 2020 Gofootpath. All Rights Reserved.
      </div>
<div class="col-md-3"></div>
      <div class="col-md-4">
          Design & Developed By : Kazi Misbahul Karim
         </div>
        </div>
  </div>
  
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>
