<html>
<head>
        
</head>

<body>


          <!-- <br> -->
          <!-- <div class="row">
         <div class="col-md-4"></div> <div class="col-md-4"><h1><font color="#007a50">Products </font> <font color="#95d600"> Category</font></h1></div>
        </div> -->
 <br>
<div class="container">
 <div class="row" style="margin-top: 9px;">
   <!-- <div class="col-md-12">
      <img  id="img1" style="width:100%;height: 100%
      " src="assets/images/category/1.jpg">
   </div> -->
   <a routerLink="/products/camping">
   <div class="col-md-3">
   <div class="card" style="width: 13rem;background-color: #007a50;color: white">
    <img class="card-img-top" src="assets/images/category/3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Camping</h5>
      <!-- <p class="card-text">fhe card's .</p> -->
    </div>
  </div>
</div></a>
<a routerLink="/products/trek">
<div class="col-md-3">
  <div class="card" style="width: 13rem;background-color: #007a50;color: white">
   <img class="card-img-top" src="assets/images/category/3.jpg" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Camping</h5>
     <!-- <p class="card-text">fhe card's .</p> -->
   </div>
 </div>
</div>
</a>


<div class="col-md-3">
  <div class="card" style="width: 13rem;background-color: #007a50;color: white">
   <img class="card-img-top" src="assets/images/category/3.jpg" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Camping</h5>
     <!-- <p class="card-text">fhe card's .</p> -->
   </div>
 </div>
</div>

<div class="col-md-3">
  <div class="card" style="width: 13rem;background-color: #007a50;color: white">
   <img class="card-img-top" src="assets/images/category/3.jpg" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">Camping</h5>
     <!-- <p class="card-text">fhe card's .</p> -->
   </div>
 </div>
</div>



  

  

  

  


 



   




 


  
  

 </div>
</div>

 <Br>
        <div class="row">
          <div class="col-md-2"></div>
          
          <div class="col-md-3"  >
            <div class="card" style="width: 14em;border-color:white">
              <img class="card-img-top" src="assets/images/category/1.jpg" style="height: 15em" alt="new_product">
              <div class="card-body">
                <!-- <h5 class="card-title center" style="color: #958b8b;font-size: 15px;">Dakine</h5> -->
                <p class="card-text" style="color: #95d600;">Camping Products</p>
                <a routerLink="/product/1" class="btn btn-primary" style="border-color: #007a50;background-color: #007a50;">Get Products Now </a>
              </div>
            </div>
          </div>
        
      
          <div class="col-md-3" >
              <div class="card" style="width: 14em;border-color:white">
                <img class="card-img-top" src="assets/images/category/2.jpg" style="height: 15em" alt="new_product">
                <div class="card-body">
                  <!-- <h5 class="card-title center" style="color: #958b8b;font-size: 15px;">Under Armour</h5> -->
                  <p class="card-text" style="color: #95d600;">Trekking Products</p>
                  <a routerLink="/product/0" class="btn btn-primary" style="border-color: #007a50;background-color: #007a50;">Get Products Now </a>
                </div>
              </div>
            </div>
          
          
            <div class="col-md-3" >
                <div class="card" style="width: 14em;border-color:white;">
                  <img class="card-img-top" src="assets/images/category/3.jpg" style="height: 15em" alt="new_product">
                  <div class="card-body">
                    <!-- <h5 class="card-title center" style="color: #958b8b;font-size: 15px;">Box</h5> -->
                    <p class="card-text" style="color: #95d600;">Golf Kits
                      </p>
                    <a  routerLink="/product/2" class="btn btn-primary" style="border-color: #007a50;background-color: #007a50;">Get Products Now</a>
                  </div>
                </div>
              </div>
              
          
          
          
          

          
        </div>
      

<!-- Footer -->

</body>
</html>


